@font-face {
    font-family: ridleyreg;
    src: url("../font/ridleyreg.otf");
}
@font-face {
    font-family: ridleyitalic;
    src: url("../font/ridleyitalic.otf");
}
*, body{
   font-size: 15px;
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   list-style: none;
   font-family: 'Source Sans Pro', ridleyreg;
   box-sizing: border-box;
   color: inherit;
}
::selection {
    background: #3000FF;
    color: white;
	text-decoration:none;
}

::-moz-selection {
    background: #3000FF;
    color: white;
	text-decoration:none;
}
li{
   cursor: pointer;
}
$primary-black: #231f20;
$primary-grey: #b4b5b7;
$dark-grey: #585555;
.container{
   width: 1200px;
   margin: auto;
}
.navbar-margin{
   height: 133px;
}
.underlined{
   text-decoration: underline;
}
.clearfix{
   clear: both;
}
.underline{
   text-decoration: underline;
   font-size: 23px;
}
//init-vars
//navbar
.navbar{
   padding: 50px 150px;
   color: $primary-black;
   width: 100vw;
   position: fixed;
   left: 0;
   background-color: white;
   z-index: 99999;
   transition: all .3s cubic-bezier(0.77,-0.05, 0.28, 1.16);
}
.navbar-short{
   padding: 15px 150px 5px;
   opacity: 1;
}
.navbar-logo{
   display: inline-block;
   font-weight: bold;
   font-size: 20px;
}
.navbar-menu{
   display: inline-block;
   float: right;
   ul{

   }
   li{
      cursor: pointer;
      margin: 0px 50px;
      display: inline-block;
      padding-bottom: 15px;
      border-bottom: 1px solid transparent;
      transition: all .2s ease-out;
      color: #9FA8B7;
   }
   li:hover{
      color: #030303;
   }
}
.current_page_item{
   text-decoration: line-through;
}
//navbar
//footer
.footer{
   padding: 50px 150px;
   text-align: center;
   color: #b4b5b7;
}
.footer-logo, .footer-icon, .footer-contacts, .footer-address, .footer-address-content{
   display: inline-block;
   vertical-align: top;
   text-align: left;
}
.footer-icon{
   float: left;
   font-size: 30px;
   text-decoration: underline;
   font-style: italic;
   color: $primary-black;
   height: 50px;
   width: 100px;
   background-image: url(../img/logo/logo.png);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
}
.footer-logo{
   font-size: 20px;
   font-weight: bold;
   margin-right: 20px;
   color: $primary-black
}
.footer-contacts{
   width: 400px;
   margin: auto;
   ul{
   }
   li{
      display: inline-block;
      margin: 0px 0px 10px;
      min-width: 90px;
      font-size: 13px;
      transition: all .2s ease;
   }
   li:hover{
      color: $primary-black;
   }
}
.footer-address{
   float: right;
}
.footer-address-content{
   font-size: 13px;
}
//footer

//main-content
.main-container{
   width: 1000px;
   margin: 0px auto 0px;
   min-height: 650px;
   position: relative;
   z-index: 10;

}

//home
.home-banner-container{
   position: relative;
   height: 450px;
}
.home-arrows{
   position: absolute;
   top: 225px;
   cursor: pointer;
   padding-bottom: 10px;
   border-bottom: 1px solid transparent;
   transition: all .3s ease;
}
.home-arrows:hover{
   padding-bottom: 10px;
   border-bottom: 1px solid black;
}
.home-arrow-next{
   @extend .home-arrows;
   right: -10px;
   transform: rotate(90deg);
}
.home-arrow-prev{
   @extend .home-arrows;
   left: -10px;
   transform: rotate(-90deg);
}
.home-banner-slick{
   width: 800px;
   height: 450px;
   margin: auto;
   z-index: 10;
}
.home-banner{
   width: 800px;
   height: 450px;
   background-color: rgb(175, 82, 217);
}
.green{
   background-color: rgb(102, 242, 112);
}
.red{
   background-color: rgb(106, 35, 55);
}
.home-text{
   margin: 20px 100px;
   font-size: 20px;
   color: #585555;
   line-height: 30px;
   letter-spacing: 1px;
   width: 600px;
}
.home-float-icon{
   font-size: 100px;
   position: absolute;
   width: 200px;
   height: 100px;
   top: 400px;
   right: 5px;
   z-index: 5;
   background-image: url(../img/logo/logo.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
.vertical-arrow{
   font-family: sans;
}
//home

//works
.work-project{
   min-height: 600px;
}
.grid-squares{
   background-color: white;
   height: 8px;
   width: 8px;
   float: left;
   margin: 2.5px;
   opacity: 0.9;
   border-radius: 1px;
}
.list-squares{
   width: 24px;
   height: 2px;
   margin: 5px 1px;
   background-color: white;
   opacity: 0.9;
   border-radius: 1px;
}
.works-header{
   padding: 5px;
}
.work-list{
   display: inline-block;
   ul{

   }
   li{
      color: $primary-grey;
      text-decoration: underline;
      transition: all .1s ease;
   }
   li:hover{
      color: #333;
   }
}
.jquery-li-active{
   color: #333 !important;
}
.work-squares{
   float: right;
}
.squares{
   background-color: #333;
   margin: 10px;
   height: 30px;
   width: 30px;
   cursor: pointer;
   text-align: center;
   padding: 2px;
   border-radius: 3px;
   opacity: 0.6;
   transition: all .3s ease;
}
.squares:hover{
   opacity: 1;
}
.work-thumbs{
   width: 320px;
   height: 250px;
   margin: 5px;
   background-color: #cacccd;
   display: inline-block;
   cursor: pointer;
   transition: all .5s cubic-bezier(0.76, -0.08, 0.28, 1.18);
   position: absolute;
}
.work-thumbs-tint{
   background-color: #231f20;
   width: 320px;
   height: 250px;
   display: none;
   text-align: center;
   padding: 50px;
   position: relative;
}
.work-thumbs:hover > .work-thumbs-tint{
   display: block;
}
.work-thumbs-tint:hover{
   display: block;
}
.project-name, .project-type{
   color: white;
   display: block;
   position: absolute;
   text-align: center;
   left: 50%;
   transform: translateX(-50%);
}
.project-name{
   top: 100px;
}
.project-type{
   top: 120px;
}
.work-footer{
   text-align: center;
   text-decoration: underline;
   padding: 20px 0;
   cursor: pointer;
}
//works

//work-list
.work-list-container{
   clear: both;
   margin: 10px 0;
   padding: 5px;
   display: none;
}
.work-lists{
   display: block;
   color: $primary-grey;
   cursor: pointer;
   margin: 10px 0px;
   transition: all .2s ease;
}
.work-lists:hover{
   color: $primary-black;
}
.work-title{
   min-width: 390px;
   display: inline-block;
}
.work-date{
   float: right;
}
.work-list-background{
   position: fixed;
   top: 50%;
   left: 50%;
   height: 500px;
   width: 800px;
   background-color: #e2a656;
   transform: translate(-50%, -50%);
   z-index: -1;
   display: none;
   opacity: 0;
   box-shadow: 4px 4px 10px 0px #333;
   transition: all .1s ease;
}
.green{
   background-color: rgb(46, 238, 141);
}
.red{
   background-color: rgb(224, 70, 130);
}
.blue{
   background-color: rgb(138, 198, 214);
}
.work-lists:hover > .work-list-background{
   opacity: 0.8;
   display: block;
}
//work-list

//work-detail
.work-info-container{

}
.work-paragraph-container{
   display: inline-block;
   width: 600px;
}
.work-header{
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 20px;
}
.work-paragraph{
   color: #9d9d9d;
}
.work-credits{
   margin-top: 30px;
}
.work-credit-container{
   display: inline-block;
   float: right;
   color: $dark-grey;
}
.work-credit-title::after{
   content: ":";
   font-family: times;
}
.work-gallery{
   margin: 30px 0px;
}
.work-sample{
   background-color: #cacccd;
   padding: 5px;
   border: 5px solid white;
   float: left;
}
.twoxone{
   width: 100%;
   height: 600px;
}
.onexone{
   width: 500px;
   height: 400px;
   display: inline-block;
   float: left;
}
//work-detail

//contact-big-text
.contact-big-text{
   font-size: 23px;
   color: #7c7c7c;
   font-weight: 100;
}
.contact-small-text{
   font-size: 13px;
   color: #7c7c7c;
   font-weight: 100;
   margin-top: 20px;
}
.underline-small{
   font-size: 13px;
   text-decoration: underline;
}
.contact-image{
   width: 500px;
   height: 400px;
   background-color: rgb(187, 11, 151);
   position: absolute;
   top: 30px;
   right: 120px;
   z-index: -1;
}
.contact-float{
   display: none;
}
//about
.about-paragraph{
   width: 550px;
   font-size: 20px;

}
.line-divider{
   width: 80px;
   border: 1px solid black;
   margin: 20px 0px;
}
.about-slick{
   width: 800px;
   height: 500px;
   margin: 50px 0px;
}
.about-slick-content{
   width: 800px;
   height: 500px;
   background-color: grey;
}
.blue{
   background-color: blue;
}
.about-arrows{
   position: absolute;
   cursor: pointer;
   text-decoration: underline;
   z-index: 99;
}
.about-next{
   @extend .about-arrows;
   right: 170px;
   top: 232px;
   transform: rotate(90deg);
}
.about-prev{
   @extend .about-arrows;
   left: -20px;
   bottom: 485px;
   transform: rotate(-90deg);
}
.about-module{
   width: 400px;
   display: inline-block;
   margin: 20px 30px 0px 0px;
}
.about-module-title{
   font-size: 20px;
   margin-bottom: 5px;
}
.jquery-blue{
   background-color: blue;
}
.lazy{
   width: 320px;
   height: 250px;
   position: absolute;
}
.jquery-active{
   opacity: 1;
   display: block;
}

.jquery-disappear{
   opacity: 0.0;
   transform: scale(0.3) !important;
   position: absolute;
}
.logo-svg{
   height: 35px;
}

//4k
@media screen and (min-width: 2000px) {
   *, body{
      font-size: 19px;
   }
   .main-container {
    width: 1600px;
    margin: 0px auto 90px;
    min-height: 69vh;
    position: relative;
    z-index: 10;
   }
   .work-project{
      min-height: 700px;
   }
   .home-banner-slick{
      width: 1400px;
      height: 900px;
   }
   .home-banner-container {
    position: relative;
    height: 900px;
   }
   .home-banner{
      height: 900px;
   }
   .home-float-icon {
      top: 850px;
   }
   .home-arrows{
      top: 400px;
   }
   .home-arrow-prev{
      left: -70px;
   }
   .home-arrow-next{
      right: -80px;
   }
   .home-text {
    margin: 20px 100px;
    font-size: 27px;
    color: #585555;
    line-height: 40px;
    letter-spacing: 2px;
    width: 550px;
   }
   .footer{
      font-size: 25px;
      padding: 50px 200px;
      text-align: center;
      color: #b4b5b7;
      .footer-icon{
         height: 80px;
         width: 150px;
      }
      .footer-contacts li {
       display: inline-block;
       margin: 0px 0px 10px;
       min-width: 155px;
       font-size: 19px;
       transition: all .2s ease;
      }
      .footer-contacts {
       width: 600px;
       margin: auto;
      }
      .footer-logo {
       font-size: 40px;
       font-weight: bold;
       margin-right: 20px;
       color: #231f20;
      }
      .footer-address-content {
          font-size: 19px;
      }
   }
   .navbar-menu{
      ul{

      }
      li{
         font-size: 19px;
      }
   }
   .logo-svg {
    height: 45px;
   }
   .navbar-margin {
    height: 175px;
   }
   .work-list li {
    color: #b4b5b7;
    text-decoration: underline;
    transition: all .1s ease;
    margin: 10px 0px;
   }
   .squares {
    background-color: #333;
    margin: 10px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    text-align: center;
    padding: 2px;
    border-radius: 3px;
    opacity: 0.6;
    transition: all .3s ease;
   }
   .grid-squares {
    background-color: white;
    height: 16px;
    width: 16px;
    float: left;
    margin: 5px;
    opacity: 0.9;
    border-radius: 1px;
   }
   .list-squares {
    width: 48px;
    height: 5px;
    margin: 10px 3px;
    background-color: white;
    opacity: 0.9;
    border-radius: 1px;
   }
   .work-thumbs {
    width: 480px;
    height: 375px;
    margin: 5px;
    background-color: #cacccd;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.76, -0.08, 0.28, 1.18);
    position: absolute;
   }
   .lazy{
      width: 480px;
      height: 375px;
   }
   .work-thumbs-tint {
    background-color: #231f20;
    width: 480px;
    height: 375px;
    display: none;
    text-align: center;
    padding: 75px;
    position: relative;
   }
   .project-name{
      top: 150px
   }
   .project-type{
      top: 200px;
   }
   .work-list-background{
      height: 700px;
      width: 1120px;
   }
   .work-lists {
       display: block;
       color: #b4b5b7;
       cursor: pointer;
       margin: 20px 0px;
       transition: all .2s ease;
   }
   .contact-big-text {
    font-size: 35px;
    color: #7c7c7c;
    font-weight: 100;
   }
   .underline {
    text-decoration: underline;
    font-size: 35px;
   }
   .contact-small-text {
    font-size: 25px;
    color: #7c7c7c;
    font-weight: 100;
    margin-top: 20px;
   }
   .underline-small {
    font-size: 25px;
    text-decoration: underline;
   }
   .contact-image {
    width: 700px;
    height: 560px;
    background-color: #bb0b97;
    position: absolute;
    top: 30px;
    right: 120px;
    z-index: -1;
   }
   .about-paragraph {
    width: 850px;
    font-size: 28px;
   }
   .about-slick {
    width: 1280px;
    height: 800px;
    margin: 50px 0px;
   }
   .about-slick-content {
    width: 1280px;
    height: 800px;
    background-color: grey;
   }
   .about-prev {
      left: -25px;
      bottom: 628px;
    transform: rotate(-90deg);
   }
   .about-module {
    width: 520px;
    display: inline-block;
    margin: 40px 50px 0px 0px;
    vertical-align: top;
   }
   .about-next {
     right: 290px;
     top: 295px;
     transform: rotate(90deg);
   }
   .twoxone {
    width: 100%;
    height: 800px;
   }
   .onexone {
    width: 800px;
    height: 600px;
    display: inline-block;
    float: left;
   }



}
