@font-face {
  font-family: ridleyreg;
  src: url("../font/ridleyreg.otf");
}

@font-face {
  font-family: ridleyitalic;
  src: url("../font/ridleyitalic.otf");
}

*, body {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: 'Source Sans Pro', ridleyreg;
  box-sizing: border-box;
  color: inherit;
}

li {
  cursor: pointer;
}

::selection {
  background: #3000FF;
  color: white;
  text-decoration: none;
}

::-moz-selection {
  background: #3000FF;
  color: white;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: auto;
}

.navbar-margin {
  height: 65px;
}

.underlined {
  text-decoration: underline;
}

.clearfix {
  clear: both;
}

.underline {
  text-decoration: underline;
  font-size: 15px;
}

.navbar {
  padding: 20px 20px;
  color: #231f20;
  width: 100vw;
  position: fixed;
  left: 0;
  background-color: white;
  z-index: 99999;
  transition: all 0.3s cubic-bezier(0.77, -0.05, 0.28, 1.16);
}

.navbar-logo {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}

.navbar-menu {
  left: -700px;
  position: fixed;
  transition: all 0.3s ease;
  background-color: white;
}

.navbar-menu ul {
  height: 100vh;
  width: 170px;
  padding: 150px 0px;
}

.navbar-menu li {
  cursor: pointer;
  margin: 0px 50px;
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 1px solid transparent;
  transition: all .2s ease-out;
  color: #9FA8B7;
}

.mobile-handle {
  position: fixed;
  top: 13px;
  right: 30px;
  width: 40px;
  height: 40px;
  transition: all 0.3s cubic-bezier(0.75, 0.09, 0.25, 1);
}

.mobile-lines {
  height: 1px;
  width: 35px;
  margin: 6px auto;
  border-radius: 1500px;
  border: 2px solid black;
  transition: all 0.3s cubic-bezier(0.75, 0.09, 0.25, 1);
}

.jquery-mobile-handle {
  transform: rotate(270deg);
  /* right: -5px; */
  height: 90;
  height: 55px;
  top: 0px;
  background-color: #111;
}

.line-1 {
  transition: all 0.2s cubic-bezier(0.75, 0.09, 0.25, 1);
}

.line-3 {
  transition: all 0.2s cubic-bezier(0.75, 0.09, 0.25, 1);
}

.jquery-line-1 {
  height: 25px;
  width: 24px;
  border-radius: 50%;
  border: 3px solid #111;
  background-color: white;
  transform: translateY(2px);
}

.jquery-line-2 {
  width: 20px;
  transform: rotate(-180deg);
  border-color: white;
  display: none;
}

.jquery-line-3 {
  background: white;
  height: 18px;
  width: 24px;
  border-radius: 150px;
  /* border-bottom: 4px solid white; */
  /* border-right: 4px solid white; */
  /* border-left: none; */
  /* border-top: none; */
  transform: rotate(90deg) translateY(2px) translateX(-19px);
  z-index: -1;
  position: absolute;
  left: 10px;
  border: white;
}

.jquery-show {
  left: 0px;
}

.jquery-invert {
  background-color: #222;
  color: white;
}

.footer {
  padding: 20px 30px;
  text-align: center;
  color: #b4b5b7;
}

.footer-logo, .footer-icon, .footer-contacts, .footer-address, .footer-address-content {
  display: block;
  vertical-align: top;
  text-align: left;
}

.footer-icon {
  font-size: 30px;
  text-decoration: underline;
  font-style: italic;
  color: #231f20;
  height: 50px;
  width: 100px;
  background-image: url(../img/logo/logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-logo {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  color: #231f20;
}

.footer-contacts {
  width: 280px;
  margin: 20px 0;
}

.footer-contacts li {
  display: inline-block;
  margin: 0px 0px 10px;
  min-width: 150px;
  font-size: 11px;
  transition: all .2s ease;
  font-size: 15px;
}

.footer-contacts li:hover {
  color: #231f20;
}

.footer-address-content {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-container {
  width: 280px;
  margin: 0px auto 0px;
  min-height: 450px;
  position: relative;
  z-index: 10;
}

.home-banner-container {
  position: relative;
  height: 250px;
}

.home-arrows, .home-arrow-next, .home-arrow-prev {
  position: absolute;
  top: 265px;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
  font-size: 11px;
}

.home-arrows:hover, .home-arrow-next:hover, .home-arrow-prev:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.home-arrow-next {
  right: -10px;
}

.home-arrow-prev {
  left: -10px;
}

.home-banner-slick {
  width: 280px;
  height: 250px;
  margin: auto;
  z-index: 10;
}

.home-banner {
  width: 280px;
  height: 250px;
  background-color: #af52d9;
}

.green {
  background-color: #66f270;
}

.red {
  background-color: #6a2337;
}

.home-text {
  width: 280px;
  margin: 70px auto 30px;
  font-size: 16px;
  color: #585555;
  line-height: 30px;
  letter-spacing: 1px;
}

.home-float-icon {
  font-size: 100px;
  position: fixed;
  width: 200px;
  height: 100px;
  top: 400px;
  right: 25px;
  z-index: 5;
  background-image: url(../img/logo/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.2;
}

.vertical-arrow {
  font-family: sans;
}

.works-header {
  padding: 5px;
}

.work-list {
  display: inline-block;
}

.work-list li {
  color: #b4b5b7;
  text-decoration: underline;
  transition: all .1s ease;
}

.work-list li:hover {
  color: #333;
}

.work-squares {
  float: right;
}

.squares {
  background-color: #333;
  margin: 10px;
  height: 25px;
  width: 25px;
  padding: 0.5px;
  border-radius: 2px;
}

.work-thumbs {
  width: 280px;
  height: 250px;
  margin: 5px;
  background-color: #cacccd;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.work-thumbs-tint {
  background-color: #231f20;
  width: 280px;
  height: 250px;
  display: none;
  text-align: center;
  padding: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.work-thumbs:hover > .work-thumbs-tint {
  display: block;
}

.work-thumbs-tint:hover {
  display: block;
}

.project-name, .project-type {
  color: white;
  display: block;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.project-name {
  top: 100px;
}

.project-type {
  top: 120px;
}

.work-footer {
  text-align: center;
  text-decoration: underline;
  padding: 20px 0;
  cursor: pointer;
}

.work-list-container {
  clear: both;
  margin: 10px 0;
  padding: 5px;
  display: none;
}

.work-lists {
  display: block;
  color: #b4b5b7;
  cursor: pointer;
  margin: 10px 0px;
  transition: all .2s ease;
}

.work-lists:hover {
  color: #231f20;
}

.work-title {
  display: inline-block;
}

.work-date {
  float: right;
}

.work-list-background {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 250px;
  width: 280px;
  background-color: #e2a656;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: none;
  opacity: 0;
  box-shadow: 4px 4px 10px 0px #333;
  transition: all .1s ease;
}

.green {
  background-color: #2eee8d;
}

.red {
  background-color: #e04682;
}

.blue {
  background-color: #8ac6d6;
}

.work-lists:hover > .work-list-background {
  opacity: 0.8;
  display: block;
}

.work-title {
  display: block;
  margin: 0px 0px;
}

.work-lists {
  margin: 10px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0px;
}

.work-paragraph-container {
  display: inline-block;
  width: 280px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.work-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.work-paragraph {
  color: #9d9d9d;
}

.work-credits {
  margin-top: 30px;
}

.work-credit-container {
  display: inline-block;
  color: #585555;
}

.work-credit-title::after {
  content: ":";
  font-family: times;
}

.work-gallery {
  margin: 10px 0px;
}

.work-sample {
  background-color: #cacccd;
  margin: 10px auto;
  padding: 3px;
  display: inline-block;
}

.onexone {
  display: inline-block;
}

.contact-big-text {
  font-size: 15px;
  color: #7c7c7c;
  font-weight: 100;
}

.contact-small-text {
  font-size: 13px;
  color: #7c7c7c;
  font-weight: 100;
  margin-top: 20px;
}

.underline-small {
  font-size: 13px;
  text-decoration: underline;
}

.contact-image {
  width: 280px;
  height: 200px;
  background-color: #bb0b97;
  top: 30px;
}

.contact-float {
  height: 60px;
  width: 100px;
  background-color: cyan;
  position: absolute;
  bottom: 180px;
  right: 140px;
  z-index: -1;
  display: none;
}

.about-paragraph {
  width: 280px;
  font-size: 13px;
}

.line-divider {
  width: 80px;
  border: 1px solid black;
  margin: 20px 0px;
}

.about-slick {
  width: 280px;
  height: 300px;
  margin: 50px 0px;
}

.about-slick-content {
  width: 280px;
  height: 300px;
  background-color: grey;
}

.blue {
  background-color: blue;
}

.about-arrows, .about-next, .about-prev {
  position: absolute;
  cursor: pointer;
  text-decoration: underline;
  z-index: 99;
  top: 550px;
}

.about-next {
  right: -10px;
}

.about-prev {
  left: -10px;
}

.about-module {
  width: 280px;
  display: inline-block;
  margin: 20px 0px 20px 0px;
}

.about-module-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.jquery-blue {
  background-color: blue;
}

.lazy {
  width: 280px !important;
  height: auto !important;
  display: block;
}

.jquery-disappear {
  display: none;
  opacity: 0;
}

.jquery-active {
  opacity: 1;
  display: block;
}

@media screen and (min-width: 690px) {
  .footer-icon {
    float: left;
  }
  .home-text {
    width: 70vw;
  }
  .home-banner-slick {
    width: 70vw;
  }
  .footer-address {
    float: right;
  }
  .footer-contacts {
    margin: 0px;
  }
  .footer-icon, .footer-contacts, .footer-address {
    display: inline-block;
  }
  .footer-address-content {
    font-size: 10px;
  }
  .main-container {
    width: 80vw;
    min-height: 70vh;
  }
  .work-lists {
    border: none;
  }
  .work-list-background {
    height: 350px;
    width: 500px;
  }
  .about-module {
    width: 280px;
    display: inline-block;
    margin: 20px 10px 0px 0px;
  }
  .about-paragraph {
    width: 520px;
    font-size: 13px;
  }
  .about-arrows, .about-next, .about-prev {
    top: 500px;
  }
  .contact-image {
    width: 600px;
    height: 400px;
    background-color: #bb0b97;
    top: 30px;
    right: 10px;
  }
}

.grid-squares {
  background-color: white;
  height: 7px;
  width: 7px;
  float: left;
  margin: 2.5px;
  opacity: 0.9;
  border-radius: 1px;
}

.list-squares {
  width: 20px;
  height: 2px;
  margin: 5px 1px;
  background-color: white;
  opacity: 0.9;
  border-radius: 1px;
}

#list-toggle {
  padding: .5px 2px;
}

.logo-svg {
  height: 25px;
}
